<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SchemaMapping" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <SchemaMapping>
    <!-- Map schema namespaces to XSD file names -->
    <add key="http://tempuri.org/" value="main.xsd" />
    <add key="http://schemas.microsoft.com/2003/10/Serialization/" value="serialization.xsd" />
    <add key="http://schemas.datacontract.org/2004/07/Demo.WCF.Services" value="services.xsd" />
  </SchemaMapping>
</configuration>